<head>
	<script type="text/javascript">
		document.getElementById('no-special-characters').onkeyup = function(event) {
			this.value = this.value.replace(/[^a-z\d]/, '');
		}
	</script>
	{% load staticfiles %}
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet" media="screen">
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Course Feedback</a>
				{% if name %}
				<ul class="nav navbar-nav navbar-left">
					<li class="active .align-right"><a href="{% url 'feedback:index' %}">Logged in as : {{name}}</a></li>
				</ul>
				{% endif %}
			</div>

			<ul class="nav navbar-nav">
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active .align-right"><a href="{% url 'feedback:logout' %}">Logout</a></li>
			</ul>
		</nav>

		<div class="container">
			{% if message != "" %}
				<h4 class="lead"><font color="green">{{message}}</font></h4>
			{% endif %}

			<h2>Select your courses from the below list of courses of your institute:</h2>
			<form action="{% url 'feedback:addCourse' %}" method="post">
				{% csrf_token %}

				<div class="form-group">
					<select class="form-control" name = "course_id">
						{% for course in courses %}
						<option value="{{course.id}}">{{course.name}}</option>
						{% endfor %}
					</select>

					<div class="form-group">
						<button type="submit" class="btn btn-warning">Add</button>
					</div>
				</form>

				<br />
				<h2>Now you are registered with the following Courses : </h2>
				<ol>
					{% for course in selected %}
					<li>{{course.name}}</li>
					{% endfor %}
				</ol>

				<br />
				<h2>Give feedback for the Course:</h2>
				<form action ="{% url 'feedback:index' %}" method="get">
					<label for="course_id">Course</label>
					<div class="form-group">
						<select class="form-control" name = "course_id">
							{% for course in selected %}
							<option value="{{course.id}}">{{course.name}}</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Proceed</button>
				</form>
				{% if selected_course.id %}
				<form action="{% url 'feedback:feedback' %}" method="post">
					{% csrf_token %}
					<label>Selected Course</label>
					<br />
					<p class="btn btn-success">{{selected_course}}</p>
					<input value="{{selected_course.id}}" hidden name="course_id">
					<br />
					<br />
					
					<label for="faculty_id">Faculty</label>
					<div class="form-group">
						<select class="form-control" name = "faculty_id">
							{% for fact in faculty %}
							<option value="{{fact.id}}">{{fact.name}}</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Give Feedback</button>
					{% endif %}
				</form>

			</div>