<head>
	<script type="text/javascript">
		document.getElementById('no-special-characters').onkeyup = function(event) {
 		   this.value = this.value.replace(/[^a-z\d]/, '');
		}
	</script>
	{% load staticfiles %}
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
	<link href="{% static "css/bootstrap-theme.css" %}" rel="stylesheet" media="screen">
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Course Feedback</a>

    </div>
    <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'feedback:index' %}">Faculty Portal</a></li>
       </ul>
</nav>

<div class="container">
	<h2>Register Student</h2>
	<form role="form" action="{% url 'feedback:register' %}" method="post">
	{% csrf_token %}

	<div class="form-group">
		<label for="name">Name </label>
		<input type="text" class="form-control" name="name" placeholder="Name" maxlength="30" required>
	</div>

	<div class="form-group">
		<label for="username">Username </label>
		<input type="text" class="form-control" name="username" placeholder="Username" maxlength="15" pattern="[a-z\d]*" required>
	</div>

	<div class="form-group">
		<label for="password">Password </label>
		<input type="password" class="form-control" name="password" placeholder="Password" maxlength="15" required>
	</div>

	<div class="form-group">
		<label for="email">Email </label>
		<input type="text" class="form-control" name="email" placeholder="Email" required>
	</div>
	
	<div class="form-group">
		<label for="dept">Select Department </label>
		<select class="form-control" name = "dept">
			{% for dept in depts %}
				<option value="{{dept.id}}">{{dept.name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div class="form-group">
		<button type="submit" class="btn btn-warning">Register</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</div>
	</form>
	
	<br />
	<h1><small>and, If Already Registered</small></h1>
	<form role="form" action="{% url 'feedback:login' %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="username">Login Username </label>
		<input class="form-control" type="text" name="username" placeholder="Username" maxlength="15" pattern="[a-z\d]*" placeholder>
		<button type="submit" class="btn btn-success">Sign in</button>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input class="form-control" type="password" name="password" placeholder="Password" maxlength="15" placeholder>
	</div>

	{% if message != "" %}
		<h4 class="lead"><font color="red">{{message}}</font></h4>
	{% endif %}

	<div class="form-group">
		<button type="submit" class="btn btn-success">Sign in</button>
		<button type="reset" class="btn btn-danger">Reset</button>
		<br /><br />
		<input type="submit" class="btn btn-warning" value="Forgot Password" name="forgotpassword"></input> : A new password will be mailed to your registered email address right away.
	</div>
	</form>

</div>
</body>